$one-light: #b2b0c6;
$one-light-1: #f4f4f4;
$one-light-2: #b5b0e8;

$one:#756dba;
$one-2: #655fa1;
$one-1: #7e75c7;

$one-dark: #4c486e;
$one-dark-2: #555087;

$darking: #3a3a3a;
$darking-1: #4f4f4f;
$darking-2: #373737;
$darking-3: #25233b;
