// app global css in SCSS form

.mode--light {
	background-color: $one-light-1;
	.guest {

	}
	.user {

	}

	.admin {

	}

	.h1-layout {
		display: block;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10000;
		font-size: 30px;
		text-align: center;
	}
}

.mode--dark {
	background-color: $darking;
	.q-menu {
		background-color: $darking-1;
		color: $one-light;
		.q-item__label{
			color: $one-light-1;
		}
	}
	.guest {

	}
	.user {

	}

	.admin {

	}
}
